
  <div class="card border-0 shadow-sm fall-animation ">
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card border-0 shadow-sm p-4" style="max-width: 400px;">
 
          <div class="text-center mb-4">
            <img src="https://pokexamen.bananasoft.mx/assets/poke-ball.png" class="img-fluid" style="max-width: 150px;">
          </div>
    
          <form [formGroup]="LoginFormulario" (ngSubmit)="onLoggedin()">
            <div class="form-group mb-3">
              <input type="email" formControlName="email" class="form-control" placeholder="Correo electrónico" [ngClass]="{'is-invalid': isValid('email')}">
              <div *ngIf="f['email'].errors && f['email'].touched" class="form-text text-danger">
                <div *ngIf="f['email']?.errors?.['required'] || f['email']?.errors?.['email']">El email debe ser válido</div>
              </div>
            </div>
    
            <div class="form-group mb-3">
              <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" [ngClass]="{'is-invalid': isValid('password')}">
              <div *ngIf="f['password'].errors && f['password'].touched" class="form-text text-danger">
                <div *ngIf="f['password']?.errors?.['required']">La contraseña es obligatoria</div>
              </div>
            </div>
    
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block">INICIAR SESIÓN</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    

